body {
    background: rgb(139, 139, 139);
}

.photo {
    border: 5px;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: #ffffff;
}

title {
    margin-bottom: 0px;
}

.subtitle {font-size: 16px;

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 0px;
}

.post {
    background: ;
    padding: 0px;
    border: 
    margin-top: 0px;
    border-radius: 0px;
}

.post_a {
    background: ;
    color: rgb(0, 0, 0);
    margin: 0;
    margin-top: 0px;
}